.flechaUp {
    position: relative;
    width: 0;
    height: 0;
    border-bottom: 15px solid;
    border-bottom-color: red;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    top: -23px;
    left: var(--leftFUp);
    z-index: 150;
}

.colaF {
    position: relative; 
    height: 20px; 
    border-left: 4px solid red;
    border-right: 4px solid red; 
    border-bottom: 4px solid red;
    border-radius: 10px;
    width: var(--widthCola);
    left: var(--leftCola);
}

.colaFL {
    position: relative; 
    height: 10px; 
    background-color: white;
    border-left: 4px solid red;
    border-right: 4px solid transparent; 
    width: var(--widthCola);
    left: var(--leftCola);
    z-index: 100;
}